In [223]:
#Import Librairie
from bs4 import BeautifulSoup as bs
import requests as re 
import pandas as pd

In [224]:
#Data parsing 
url ='https://www.cbinsights.com/research-unicorn-companies'
unicorn_data=re.get(url).text

In [225]:
unicorn_soup = bs(unicorn_data, 'html.parser')
unicorn_table = unicorn_soup.find_all('table')

In [226]:
len(unicorn_table)

1

In [227]:
unicorn_df =pd.read_html(str(unicorn_table),flavor='bs4')[0]
unicorn_df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."

In [228]:
unicorn_df.shape

(323, 7)

In [229]:
unicorn_df.dropna()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China..."
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...
318,Kraken,$2.92,6/25/2019,United States,San Francisco,Fintech,"Bnk To The Future, Trammell Ventures, SBI Inve..."
319,OpenAI,$2.92,7/22/2019,United States,San Francisco,Artificial intelligence,Khosla Ventures
320,Workrise,$2.9,9/30/2019,United States,Austin,Internet software & services,"Founders Fund, Quantum Energy Partners, Bedroc..."
321,Loft,$2.9,1/3/2020,Brazil,Sao Paulo,E-commerce & direct-to-consumer,"Monashees+, Andreessen Horowitz, QED Investors"
322,BharatPe,$2.85,7/30/2021,India,New Delhi,Fintech,"Insight Partners, Sequoia Capital India, BEENEXT"

In [230]:
#Data processing & parsing 
continent_df = pd.read_csv('continents.csv')
continent_df.head()

                  Entity      Code  Year Continent
0               Abkhazia  OWID_ABK  2015      Asia
1            Afghanistan       AFG  2015      Asia
2  Akrotiri and Dhekelia  OWID_AKD  2015      Asia
3                Albania       ALB  2015    Europe
4                Algeria       DZA  2015    Africa

In [231]:
unicorn_df['Continent'] = ""

In [232]:
def getContinent(country):
    con = str(continent_df.loc[(continent_df['Entity']==country),'Continent'].values)
    list_of_chars = ['[', ']', "''",' ']
    translation_table = str.maketrans('', '', ''.join(list_of_chars))
    con = con.translate(translation_table)
    return con

In [233]:
for a in unicorn_df.index:
    unicorn_df['Continent'][a] = getContinent(unicorn_df['Country'].values[a])

unicorn_df.head(15)

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Continent
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",Asia
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",NorthAmerica
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",Asia
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",NorthAmerica
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",Oceania
5,Checkout.com,$40,5/2/2019,United Kingdom,London,Fintech,"Tiger Global Management, Insight Partners, DST...",Europe
6,Revolut,$33,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital",Europe
7,Epic Games,$31.5,10/26/2018,United States,Cary,Other,"Tencent Holdings, KKR, Smash Ventures",NorthAmerica
8,Databricks,$31,2/5/2019,United States,San Francisco,Data management & analytics,"Andreessen Horowitz, New Enterprise Associates...",NorthAmerica
9,Fanatics,$31,6/6/2012,United States,Jacksonville,E-commerce & direct-to-consumer,"SoftBank Group, Andreessen Horowitz, Temasek H...",NorthAmerica
10,Chime,$25,3/5/2019,United States,San Francisco,Fintech,"Forerunner Ventures, Crosslink Capital, Homebrew",NorthAmerica
11,BYJU's,$22,7/25/2017,India,Bengaluru,Edtech,"Tencent Holdings, Lightspeed India Partners, S...",Asia
12,Xiaohongshu,$20,3/31/2016,China,Shanghai,E-commerce & direct-to-consumer,"GGV Capital, ZhenFund, Tencent",Asia
13,J&T Express,$20,4/7/2021,Indonesia,Jakarta,"Supply chain, logistics, & delivery","Hillhouse Capital Management, Boyu Capital, Se...",Asia
14,Miro,$17.5,1/5/2022,United States,San Francisco,Internet software & services,"Accel, AltaIR Capital, Technology Crossover Ve...",NorthAmerica

In [234]:
year = unicorn_df['Date Joined'].str.split('/', n=2, expand=True)
year = year[2].astype('int32')
unicorn_df['Year'] = year
unicorn_df.head()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Continent,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",Asia,2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",NorthAmerica,2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",Asia,2018
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",NorthAmerica,2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",Oceania,2018

In [235]:
unicorn_df.isnull().sum()

Company             0
Valuation ($B)      0
Date Joined         0
Country             0
City                2
Industry            0
Select Investors    0
Continent           0
Year                0
dtype: int64

In [236]:
import numpy as np
np.where(unicorn_df['Select Investors'].isnull())[0]

array([], dtype=int64)

In [237]:
unicorn_df[unicorn_df['Continent'] == ''].index

Int64Index([], dtype='int64')

In [238]:
unicorn_df.loc[unicorn_df['Continent']=='']

Empty DataFrame
Columns: [Company, Valuation ($B), Date Joined, Country, City, Industry, Select Investors, Continent, Year]
Index: []

In [239]:
# checking country name in continent table
continent_df[continent_df['Entity'].str.contains('Czech')]

            Entity      Code  Year Continent
64         Czechia       CZE  2015    Europe
65  Czechoslovakia  OWID_CZS  2015    Europe

In [240]:
import re
def getContinent(country):
    if(country in continent_df['Entity'].values):
        con = str(continent_df.loc[(continent_df['Entity']==country),'Continent'].values)
    else:
        if len(country.split(' '))==1:
            con = str(continent_df.loc[(continent_df['Entity'].str.contains(country, flags=re.I, regex=True)),'Continent'].values[0])
        else:
            country = country.split(' ')[0]
            con = str(continent_df.loc[(continent_df['Entity'].str.contains(country, flags=re.I, regex=True)),'Continent'].values[0])
        
    list_of_chars = ['[', ']', "''",' ']
    translation_table = str.maketrans('', '', ''.join(list_of_chars))
    con = con.translate(translation_table)
    return con

In [241]:
unicorn_df.dtypes

Company             object
Valuation ($B)      object
Date Joined         object
Country             object
City                object
Industry            object
Select Investors    object
Continent           object
Year                 int32
dtype: object

In [242]:
unicorn_df.head() #check it once again

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Continent,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S...",Asia,2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",NorthAmerica,2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",Asia,2018
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",NorthAmerica,2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",Oceania,2018

In [243]:
arr_ind = unicorn_df['Industry'].unique()
list_ind = arr_ind.tolist()

In [244]:
import pprint #not really necessary but it will help to prettify the dictionary groups_words
ind_lower = {v: v.lower() for v in list_ind}

my_list = []
groups_words = {}
for key, value in ind_lower.items():
    if value in groups_words.keys():
        my_list = groups_words[value]
        my_list.append(key)
        groups_words[value] = my_list
    else:
        groups_words[value] = [key]

pprint.pprint(groups_words)

{'artificial intelligence': ['Artificial intelligence'],
 'auto & transportation': ['Auto & transportation'],
 'consumer & retail': ['Consumer & retail'],
 'cybersecurity': ['Cybersecurity'],
 'data management & analytics': ['Data management & analytics'],
 'e-commerce & direct-to-consumer': ['E-commerce & direct-to-consumer'],
 'edtech': ['Edtech'],
 'fintech': ['Fintech'],
 'hardware': ['Hardware'],
 'health': ['Health'],
 'internet software & services': ['Internet software & services'],
 'mobile & telecommunications': ['Mobile & telecommunications'],
 'other': ['Other'],
 'supply chain, logistics, & delivery': ['Supply chain, logistics, & delivery'],
 'travel': ['Travel']}

In [245]:
unicorn_df[unicorn_df['Industry']=='Artificial intelligence'].count()

Company             18
Valuation ($B)      18
Date Joined         18
Country             18
City                18
Industry            18
Select Investors    18
Continent           18
Year                18
dtype: int64

In [246]:
unicorn_df['Industry'].loc[unicorn_df['Industry']=='Artificial intelligence'] = 'Artificial Intelligence'

/usr/local/lib/python3.9/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [247]:
unicorn_df[unicorn_df['Industry']=='Artificial intelligence'].count()

Company             0
Valuation ($B)      0
Date Joined         0
Country             0
City                0
Industry            0
Select Investors    0
Continent           0
Year                0
dtype: int64

In [248]:
unicorn_df.drop_duplicates()

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Continent,Year
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial Intelligence,"Sequoia Capital China, SIG Asia Investments, S...",Asia,2017
1,SpaceX,$127,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen...",NorthAmerica,2012
2,SHEIN,$100,7/3/2018,China,Shenzhen,E-commerce & direct-to-consumer,"Tiger Global Management, Sequoia Capital China...",Asia,2018
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",NorthAmerica,2014
4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat...",Oceania,2018
...,...,...,...,...,...,...,...,...,...
318,Kraken,$2.92,6/25/2019,United States,San Francisco,Fintech,"Bnk To The Future, Trammell Ventures, SBI Inve...",NorthAmerica,2019
319,OpenAI,$2.92,7/22/2019,United States,San Francisco,Artificial Intelligence,Khosla Ventures,NorthAmerica,2019
320,Workrise,$2.9,9/30/2019,United States,Austin,Internet software & services,"Founders Fund, Quantum Energy Partners, Bedroc...",NorthAmerica,2019
321,Loft,$2.9,1/3/2020,Brazil,Sao Paulo,E-commerce & direct-to-consumer,"Monashees+, Andreessen Horowitz, QED Investors",SouthAmerica,2020
322,BharatPe,$2.85,7/30/2021,India,New Delhi,Fintech,"Insight Partners, Sequoia Capital India, BEENEXT",Asia,2021

In [249]:
unicorn_df.to_csv('unicorn_dataset_fix.csv', index=False)

In [250]:
unicorn_df.to_csv('unicorn_dataset_fix.xlsx', index=False)

#Begin the exploration
Filtering Data with Specific Conditions
1. Display unicorn data from Asia with Artificial Intelligence industry then sort by their valuation

In [251]:
ai_asia_data = unicorn_df[(unicorn_df['Continent'] == 'Asia') & (unicorn_df['Industry'] == 'Artificial Intelligence')].sort_values(by='Valuation ($B)', ascending=False)
ai_asia_data

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Continent,Year
137,Horizon Robotics,$5,2/27/2019,China,Beijing,Artificial Intelligence,"Hillhouse Capital Management, Linear Venture, ...",Asia,2019
191,MEGVII,$4,10/31/2017,China,Beijing,Artificial Intelligence,"Ant Financial Services Group, Russia-China Inv...",Asia,2017
0,ByteDance,$140,4/7/2017,China,Beijing,Artificial Intelligence,"Sequoia Capital China, SIG Asia Investments, S...",Asia,2017

2. Display unicorn data with investors containing 'capital' word and from fintech industry

In [252]:
fintech_capital = unicorn_df[(unicorn_df['Select Investors'].str.contains('capital', flags=re.I, na=False, regex=True)) & (unicorn_df['Industry']=='Fintech')]
fintech_capital

,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors,Continent,Year
3,Stripe,$63,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG",NorthAmerica,2014
6,Revolut,$33,4/26/2018,United Kingdom,London,Fintech,"index Ventures, DST Global, Ribbit Capital",Europe,2018
10,Chime,$25,3/5/2019,United States,San Francisco,Fintech,"Forerunner Ventures, Crosslink Capital, Homebrew",NorthAmerica,2019
20,Ripple,$15,12/20/2019,United States,San Francisco,Fintech,"IDG Capital, Venture51, Lightspeed Venture Par...",NorthAmerica,2019
22,Plaid,$13.5,12/11/2018,United States,San Francisco,Fintech,"New Enterprise Associates, Spar Capital, Index...",NorthAmerica,2018
28,Brex,$12.3,10/5/2018,United States,San Francisco,Fintech,"DST Global, Ribbit Capital, Greenoaks Capital ...",NorthAmerica,2018
34,Deel,$12,4/21/2021,United States,San Francisco,Fintech,"Andreessen Horowitz, Spark Capital, Y Combinator",NorthAmerica,2021
39,Bolt,$11,10/8/2021,United States,San Francisco,Fintech,"Activant Capital, Tribe Capital, General Atlantic",NorthAmerica,2021
51,Digital Currency Group,$10,11/1/2021,United States,New York,Fintech,"Ribbit Capital, capitalG, Softbank Group",NorthAmerica,2021
52,KuCoin,$10,5/10/2022,Seychelles,Victoria,Fintech,"IDG Capital, Matrix Partners China, Jump Crypto",Africa,2022
55,N26,$9.23,1/10/2019,Germany,Berlin,Fintech,"Redalpine Venture Partners, Earlybird Venture ...",Europe,2019
63,Rapyd,$8.75,12/3/2019,United Kingdom,London,Fintech,"Target Global, General Catalyst, Durable Capit...",Europe,2019
70,SumUp,$8.5,7/16/2019,United Kingdom,London,Fintech,"American Express Ventures, Goldman Sachs, Bain...",Europe,2019
75,Ramp,$8.1,3/29/2021,United States,New York,Fintech,"D1 Capital Partners, Stripe, Coatue Management",NorthAmerica,2021
77,Fireblocks,$8,7/27/2021,United States,New York,Fintech,"Tenaya Capital, Coatue Management, Stripes Group",NorthAmerica,2021
79,FalconX,$8,8/10/2021,United States,San Mateo,Fintech,"Tiger Global Management, American Express Vent...",NorthAmerica,2021
84,Razorpay,$7.5,10/11/2020,India,Bengaluru,Fintech,"Sequoia Capital India, Tiger Global Management...",Asia,2020
86,Carta,$7.4,5/6/2019,United States,San Francisco,Fintech,"Menlo Ventures, Spark Capital, Union Square Ve...",NorthAmerica,2019
94,ConsenSys,$7,11/17/2021,United States,New York,Fintech,"Third Point, Electric Capital, Coinbase Ventures",NorthAmerica,2021
97,Klarna,$6.7,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita...",Europe,2011
104,CRED,$6.4,4/6/2021,India,Bengaluru,Fintech,"Tiger Global Management, DST Global, Sequoia C...",Asia,2021
106,Upgrade,$6.28,2/12/2018,United States,San Francisco,Fintech,"Union Square Ventures, Ribbit Capital, VY Capital",NorthAmerica,2018
135,Airwallex,$5.5,3/25/2019,Australia,Melbourne,Fintech,"DST Global, Sequoia Capital China, Tencent Hol...",Oceania,2019
136,Mambu,$5.5,1/6/2021,Netherlands,Amsterdam,Fintech,"Runa Capital, Acton Capital Partners, Point Ni...",Europe,2021
145,Pine Labs,$5,1/24/2020,India,Noida,Fintech,"Sequoia Capital India, Temasek, PayPal Ventures",Asia,2020
146,Qonto,$5,1/11/2022,France,Paris,Fintech,"Alven Capital, Valar Ventures, Tencent Holdings",Europe,2022
156,Creditas,$4.8,12/18/2020,Brazil,Sao Paulo,Fintech,"Kaszek Ventures, Amadeus Capital Partners, Quo...",SouthAmerica,2020
169,Monzo,$4.5,10/31/2018,United Kingdom,London,Fintech,"Passion Capital, Thrive Capital, Orange Digita...",Europe,2018
195,Next Insurance,$4,10/7/2019,United States,Palo Alto,Fintech,"Zeev Ventures, Ribbit Capital, TLV Partners",NorthAmerica,2019
212,Digit Insurance,$4,1/15/2021,India,Bengaluru,Fintech,"Fairfax Financial Holdings, A91 Partners, TVS ...",Asia,2021
255,Upstox,$3.4,11/29/2021,India,Mumbai,Fintech,"Tiger Global Management, Kalaari Capital",Asia,2021
265,BlockDaemon,$3.25,9/21/2021,United States,Los Angeles,Fintech,"BOLDstart Ventures, Lerer Hippeau, Kenetic Cap...",NorthAmerica,2021
270,Cedar,$3.2,3/9/2021,United States,New York,Fintech,"Thrive Capital, Founders Fund, Cocnord Health ...",NorthAmerica,2021
272,Blockstream,$3.2,8/24/2021,Canada,Vancouver,Fintech,"AME Cloud Ventures, Future Perfect Ventures, B...",NorthAmerica,2021
281,HighRadius,$3.1,1/7/2020,United States,Houston,Fintech,"Susquehanna Growth Equity, Citi Ventures, ICON...",NorthAmerica,2020
306,TradingView,$3,10/14/2021,United States,Westerville,Fintech,"Tiger Global Management, Insight Partners, Jum...",NorthAmerica,2021
307,Groww,$3,4/7/2021,India,Bengaluru,Fintech,"Tiger Global Management, Sequoia Capital India...",Asia,2021
310,Anchorage Digital,$3,12/15/2021,United States,San Francisco,Fintech,"Andreessen Horowitz, Blockchain Capital, Lux C...",NorthAmerica,2021
311,Inxeption,$3,1/13/2022,United States,San Francisco,Fintech,"Coatue Management, BMO Capital, Schonfeld Stra...",NorthAmerica,2022
313,Flutterwave,$3,3/9/2021,United States,San Francisco,Fintech,"Green Visor Capital, CRE Venture Capital, Grey...",NorthAmerica,2021
315,Cross River Bank,$3,2/11/2022,United States,Fort Lee,Fintech,"Battery Ventures, Andreessen Horowitz, Ribbit ...",NorthAmerica,2022
316,Remote,$3,7/13/2021,United States,San Francisco,Fintech,"Index Ventures, Sequoia Capital, General Catalyst",NorthAmerica,2021
322,BharatPe,$2.85,7/30/2021,India,New Delhi,Fintech,"Insight Partners, Sequoia Capital India, BEENEXT",Asia,2021

3. Display 5 countries with highest number of unicorn

In [253]:
unicorn_df.groupby('Country').count()['Company'].sort_values(ascending=False).head()

Country
United States     190
China              32
India              23
United Kingdom     16
Germany             9
Name: Company, dtype: int64

4. Display the industry that has most company number from each continent.

In [254]:
grouped_df = unicorn_df.groupby(['Continent','Industry']).count()
result = grouped_df.loc[grouped_df.groupby('Continent')['Company'].idxmax()]
result['Company']

Continent     Industry
Africa        Fintech                             1
Asia          E-commerce & direct-to-consumer    11
Europe        Fintech                            20
NorthAmerica  Internet software & services       52
Oceania       Fintech                             1
SouthAmerica  E-commerce & direct-to-consumer     3
Name: Company, dtype: int64

5. Display the company name and country with highest valuation in 2019.

In [255]:
filtered_df = unicorn_df[unicorn_df['Year']==2017]
filtered_df = filtered_df.sort_values(by='Valuation ($B)',ascending=False)
filtered_df[['Company','Country','Valuation ($B)']].head(1)

    Company        Country Valuation ($B)
60  Niantic  United States             $9

In [256]:
inv_dic = {}
for i in unique_investor:
    inv_dic[i] = list_investor.count(i)

investor_df = pd.DataFrame(list(inv_dic.items()),columns = ['Investor Name','Number of Company'])

In [257]:
investor_df.sort_values(by='Number of Company', ascending=False).head(10)

                  Investor Name  Number of Company
36                        Accel                 25
21          Andreessen Horowitz                 22
42              Sequoia Capital                 21
7       Tiger Global Management                 18
14             Insight Partners                 17
0         Sequoia Capital China                 17
24               SoftBank Group                 15
49  Lightspeed Venture Partners                 14
57             General Catalyst                 13
15                   DST Global                 13

In [258]:
investor_df[investor_df['Number of Company']==1]

               Investor Name  Number of Company
1       SIG Asia Investments                  1
5    Draper Fisher Jurvetson                  1
6        Rothenberg Ventures                  1
10          LowercaseCapital                  1
12        Blackbird Ventures                  1
..                       ...                ...
445  Quantum Energy Partners                  1
446          Bedrock Capital                  1
447               Monashees+                  1
448            QED Investors                  1
449                  BEENEXT                  1

[325 rows x 2 columns]

In [259]:
investor_df.to_csv('investor_data.csv',index=False)